// Colors
$Orange: #ff7e1b;
$Pale-orange: #FFEEE2;
$Very-dark-blue: #1d2026;
$Dark-grayish-blue: #69707D;
$Grayish-blue: #b6bcc8;
$Light-grayish-blue: #F6F8FD;
$White: #ffffff;
/* (with 75% opacity for lightbox background) */
$Black: #000000;

// Font
$font-main: "Kumbh Sans", sans-serif;
